<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %class{0}.%method:%L - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>